.input-field {
    width: 350px;
    background-color: rgb(64, 64, 64);
    font-size: 22px;
    color: antiquewhite;
    padding: 5px;
    margin: 8px;
    border: 1px solid rgb(64, 64, 64);
  }
  
  .input-btn {
    width: 100px;
    background-color: rgb(64, 64, 64);
    font-size: 22px;
    color: whitesmoke;
    padding: 5px;
    border: 1px solid rgb(64, 64, 64);
  }

  .weather-emoji {
    width: 100px;
    color: white;
  }

  ul {
    list-style-type: none;
  }

  .app-heading {
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 3px;
  }

  .field-breaker {
    width: 500px;
    opacity: 0.20;
    margin-bottom: 30px;
  }

.weather-emoji {
    font-size: 50px;
    vertical-align: 15%;
}

.weather-temp {
    font-size: 80px;
}

.weather-degree {
    font-size: 40px;
    position: relative;
    vertical-align: 40%;
}